button{
    width: 200px;
    height: 100px;
    
    
}
h1{
    text-align: center;
    color: hotpink
}
div{
    top: 50%; 
    left: 50%;
    color:hotpink;
}
body{
    background-color: pink;
}
button{
    border-color: pink;
    color:chocolate;
    background-color:#A0C3D2;
    padding: 10px;
    font-size: 80px;
}
img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 350px;
}